.description {
    padding-top: 100px;
    display: flex;
    justify-content: center;
  }
  
  .two-columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  .two-columns__brief {
    margin: 0;
    width: 175px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    color: #2F80ED;
  }
  
  .two-columns__main-text {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 80%;
    min-width: 784px;
  }
  
  .two-columns__paragraph {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }
  
  .two-columns__paragraph:last-child {
    margin-bottom: 0px;
  }
  
  .two-columns__span-accent {
    font-weight: 600;
  }