.feynman {
    margin-top: 100px;
    position: relative;
    min-height: 890px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
  }
  
  .feynman__img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 867px;
    height: 637px;
    background-image: url(../../images/feynman.png);
  }
  
  .feynman__title {
    margin: 0;
    margin-top: 100px;
    margin-bottom: 70px;
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
    text-align: center;
    z-index: 1;
  }
  
  .feynman__subtitle {
    margin: 0;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    z-index: 1;
  }
  
  .feynman__link {
    margin: 0;
    text-decoration: none;
    color: #2F80ED;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: absolute;
    top: 50%;
    right: 48px;
    z-index: 1;
  }